div {
  margin: 0;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.6rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 4rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #11999E;
}

hr{
  border-style:dotted none none none;
  border-width: 9px;
  border-color: lightgrey;

  width: 5%;
  height: 10px;
}

.intro {
  width: 70%;
  margin : auto;
}
a {
  color: purple;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

p {
  margin: 50px;
  font-size: 1.5rem;
  line-height: 2;
  text-align: center;
}

body {
  text-align: center;
  font-family: 'Merriweather', serif;
  line-height: 2;
}

span {
  text-decoration: underline;
}

.top-container {
  position: relative;
  background-color: #E4F6F6;
  padding-top: 100px;
}

.middle-container {
  position: relative;
  padding-top: 150px;
}

.bottom-container{
  background-color: #66BFBF;
  padding:50px auto 20px;

}

.profile {
  width: 50%;
  margin: 10px auto;
}

.skills {
  width: 50%;
  margin: 50px auto;
}

.proimg {
  width: 25%;
}

.mindimg {
  width: 25%;
  float: right;
  padding: 0 0 0 30px;
}
.waterimg {
  width: 25%;
  float: left;
  padding: 0 30px 0 0;
}

.Tcloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.Bcloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}
.skillbottom{
  position: relative;
  margin-top: 200px;

}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
}

.button:hover {
  background-color: pink;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
}

.copyright {
color: #EAF6F6;
font-size: .75rem;

}
